body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat","Avenir";
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}


#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected {
    color: white;
    background-color: steelblue;
}

#colorDisplay{
    font-size: 200%;
}

button {
    height: 100%;
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    margin: 0;
    transition: all 0.3s;
    outline: none;
}

#message{
    color: steelblue;
    display: inline-block;
    width: 20%;
    text-transform: uppercase;
    font-weight: 800;
}

button:hover{
    color: white;
    background-color: steelblue;
}



